/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


@font-face {
  font-family: cmunorm;
  src: url('../fonts/computer-modern/cmunorm.ttf') format('trueType');
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;

  display: flex;
  overflow: hidden;
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f3f1eb;
}

#root {
  --primary: #5f9b65;
  --heading: 'Lora', serif;
  --text: cmunorm, serif;
  --devnagari: 'Inknut Antiqua', serif;
  --code: 'Inconsolata', monospace;

  width: 100%;
  height: 100%;
	display: flex;
  flex-direction: column;
}

.katex-html {
  display: none;
}