#header {
    height: 60px;
    padding: 10px 32px 10px;
}

.content-wrapper {
    padding: 100px 15px 80px 15px;
}

.vuepress-blog-theme-content {
    box-shadow: none !important
}

.community-name {
    display: none
}
