.landing {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing h1 {
	font-family: var(--devnagari);
	font-size: 5rem;
	margin: 0;
	color: black;
}

.landing h2 {
	color: var(--primary);
	margin: 0.5rem;
	font-size: 1.75rem;
}

.landing .heroimg {
	width: 35rem;
	margin: 3rem;
}

.landing .index {
	text-align: left;
	font-size: 1rem;
}

@media (max-width: 768px) {
  .landing h1 {
    font-size: 2rem;
  }

	.landing h2 {
		font-size: 1rem;
	}

	.landing .heroimg {
		width: 35vh;
		margin: 5vh;
	}
}
