.content {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
  overflow-y: auto;
	line-height: 1.25;
	color: rgba(0,0,0,.84);
	padding: 0% 10%;
	display: flex;
  margin-bottom: 10%;
}

.content-body {
  height: 100%;
  margin: 1em;
  line-height: 1.58;
  padding-bottom: 10rem;
  width: 75%;
}

.content-body p, ul, li {
  color: darkslategray;
  font-family: var(--text);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75;
  text-align: justify;
  text-justify: inter-word;
}

.content-body a {
  color: var(--primary);
}

.content h1, h2, h3, h4 {
  font-family: var(--heading);
  font-weight: bold;
  color: black;
}

.content h1 {
  text-align: center;
  font-family: var(--heading);
  font-weight: bolder;
  font-size: 3rem;
  border-bottom: 1px solid darkslategrey;
}

.content h2 {
  font-size: 2rem;
}

.content h3 {
  text-decoration: underline var(--primary) dashed 2px;
  font-size: 1.5rem;
}

.content code {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--code);
}

.content .hljs {
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  padding: 25px;
}

@media (min-width: 1140px) {
  .content-caption {
    font-size: 1.5rem;
  }

  .content-subtitle {
    font-size: 1.4rem;
  }

  .desktop {
    display: inline;
  }

  .mobile {
    display: none;
	}
}

@media (max-width: 1140px) {
  .content-caption {
    font-size: 1.3rem;
  }

  .content-subtitle {
    font-size: 1.3rem;
  }

  .named {
    font-size: 2rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }

  .content h1 {
    font-size: 1.75rem;
  }

  .content h3 {
    font-size: 1.25rem;
  }
}
