.mini-side-nav {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.mini-side-nav a {
  color: black;
}

.mini-side-nav a:hover {
  color: var(--primary);
}

/* Mobile CSS */
@media screen and (max-width: 768px) {
  .mini-side-nav {
    display: none;
  }
}